/*header img {
   height: 80px;
   margin-left: 40px;
}
*/
body {
   height: 125vh;
   
   background-size: cover;
   font-family: sans-serif;
   margin-top: 80px;
   padding: 30px;
}

main {
   color: white;
}

/*Navbar which stays at the top*/
header {
   background-color: white;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 80px;
   display: flex;
   align-items: center;
   box-shadow: 0 0 25px 0 black;
   margin-bottom: 100px;
   
}

header * {
   display: inline;
}

header li {
   margin: 20px;
}

header li a {
   color: black;
   text-decoration: none;
}
header :hover{
   color:orange;
}
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 }
 h1 {
    text-align: center;
 }
 * {
    box-sizing: border-box;
 }
 .Slide {
    display: none;
 }
 
 .slideContainer {
    max-width: 500px;
    margin: 10px;
    position: relative;
    margin: auto;
    font-size: 10px;
    margin-top: 100px;
 }
/*Next and back arrows*/
 .prevBtn, .nextBtn {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    color: black;
    font-weight: bolder;
    font-size: 18px;
 }
 .nextBtn {
    right: -40px;
 }
 .prevBtn {
    left: -40px;
 }
/*Author of quote*/
 .Caption {
    color: #500070;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
 }
/*navigation dot*/
 .Navdot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 120px;
 }
/*Hover colour for dot*/
 .selected, .Navdot:hover {
    background-color: grey;
 }
 @media only screen and (max-width: 450px) {
    .prevBtn, .nextBtn, .Caption {
       font-size: 16px;
    }
 }
 


  
 /* Five image containers (use 25% for four, and 50% for two, etc) */
.column {
   float: left;
   width: 20%;
   padding: 30px;
   
 }
 
 /* Clear floats after image containers */
 .row::after {
   content: "";
   clear: both;
   display: table;
 }

 img{
  width:150px;
  height:150px;
  border-radius:50%;
 }